{:allow [;; transaction functions
         truth.domain/create-claim!
         truth.domain/add-evidence!
         truth.domain/vote-on-claim!
         truth.domain/vote-on-evidence!

         ;; web applications
         truth.ions/graphql
         ]
 :lambdas {:graphql
           {:fn truth.ions/graphql
            :integration :api-gateway/proxy
            :description "graphql endpoint for querying the db"}}
 :app-name "prod"}
