{:paths ["src" "resources" "dev-resources"]
 :deps {com.datomic/ion {:mvn/version "0.9.34"}
        com.datomic/datomic-free {:mvn/version "0.9.5697"}
        org.clojure/clojure {:mvn/version "1.9.0"},
        com.walmartlabs/lacinia {:mvn/version "0.31.0"}
        org.clojure/data.json {:mvn/version "0.2.6"}
        io.aviso/logging {:mvn/version "0.3.1"},
        slugger {:mvn/version "1.0.1"},
        ring {:mvn/version "1.7.0"}
        software.amazon.awssdk/cloudsearch {:mvn/version "2.5.20"}
        software.amazon.awssdk/cloudsearchdomain {:mvn/version "2.5.20"}
        }
 :mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}
             "my.datomic.com" {:url "https://my.datomic.com/repo"}}
 :aliases
 {:dev {:extra-deps {com.datomic/ion-dev {:mvn/version "0.9.186"}
                     com.datomic/client-cloud {:mvn/version "0.8.78"}}}
  :cider-clj {:extra-deps {cider/cider-nrepl {:mvn/version "0.21.1"}
                           listora/again {:mvn/version "1.0.0"}}
              :main-opts ["-m" "nrepl.cmdline" "--middleware" "[cider.nrepl/cider-middleware]"]}
  :run-server {:extra-deps {http-kit {:mvn/version "2.3.0"}}
               :main-opts ["-m" "truth.server"]}
  :test {:extra-deps {com.datomic/client-cloud {:mvn/version "0.8.71"}
                      lambdaisland/kaocha {:mvn/version "0.0-389"}
                      expectations/clojure-test {:mvn/version "1.1.1"}}}}}
