#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"]
          :source-paths ["src"]
          :ns-patterns ["-test$"]}]
 :kaocha/fail-fast? true
 :watch? true
 ;; :reporter kaocha.report.progress/progress
 :plugins [:kaocha.plugin/notifier]
 }
