#kaocha/v1
{:tests [{:id :unit
          :test-paths ["test"]
          :source-paths ["src"]
          :ns-patterns ["-test$"]}]
 :watch? true
 ;; :reporter kaocha.report.progress/progress
 ;; :plugins [:profiling :notifier]
 }
